{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Estoque
        </li>
    </ol>
</nav>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-header bg-light border d-flex justify-content-between align-items-center">
        <div>
            <span class="badge bg-white text-secondary border">
                <span class="text-dark">{{total.estoques}} Itens</span><br><br>
                Ativo: <span class="text-success">{{total.estoquesAtivo}}</span> |
                Inativo: <span class="text-danger">{{total.estoqueInativo}}</span>
            </span>


        </div>
        {%if usuario().level == 3 %}
        <a href="{{url('dashboard/itens/cadastrar')}}" class="btn btn-dark" tooltip="tooltip" title="Cadastrar Itens">
            Cadastrar
        </a>
        {%endif%}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabelaItens" class="table table-hover table-striped" style="width:100%">
                <thead>
                    <tr>

                        <th>Capa</th>
                        <th>Nome</th>
                        <th>quantidade</th>
                        <th>Status</th>
                        {%if usuario().level == 3 %}
                        <th>Ações</th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens %}
                    <tr>

                        <td>
                            {% if item.capa %}
                            <div class="float-xl-start float-lg-none capa mx-auto">
                                <div class="card border-0">
                                    <a data-fancybox data-caption="{{item.nome}}" class="overflow zoom "
                                        href="{{url('uploads/imagens/thumbs/'~item.capa)}}">
                                        <img class="capa" height="80px" src="{{url('uploads/imagens/'~item.capa)}}" />
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <img src="{{url('templates/assets/img/sem-foto.jpg')}}" class="capa" />
                            {% endif %}
                        </td>
                        <td><a href="{{url('dashboard/item/'~item.slug)}}"
                                class="fw-bold link-underline-dark">{{item.nome}}</a></td>
                        <td>{{item.quantidade}}</td>


                        <td>
                            {% if item.status == 1 %}
                            <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativo"></i>
                            {% else %}
                            <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativo"></i>
                            {% endif %}
                        </td>

                        {%if usuario().level == 3 %}
                        <td>

                            <a class="text-dark m-1" href="{{ url('dashboard/itens/editar/'~item.id)}}"
                                tooltip="tooltip" title="Editar"><i class="fa-solid fa-pen"></i></a>


                            <a class="text-dark" href="{{ url('dashboard/itens/deletar/'~item.id)}}" tooltip="tooltip"
                                title="Deletar" data-bs-toggle="modal" data-bs-target="#exclusaoModal"><i
                                    class="fa-solid fa-trash"></i>
                            </a>

                        </td>
                        


                        <!-- Modal -->
                        <div class="modal fade" id="exclusaoModal" tabindex="-1" aria-labelledby="exclusaoModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exclusaoModalLabel">Deseja realmente excluir?
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Excluir item e todas suas movimentações?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">fechar</button>
                                        <a href="{{ url('dashboard/itens/deletar/'~item.id)}}" type="button"
                                            class="btn btn-danger">Excluir</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {%endif%}



                        {% endfor %}
                    </tr>
                </tbody>

            </table>
        </div>


    </div>
</div>




{% endblock %}