{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Usuários
        </li>
    </ol>
</nav>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-header bg-light border d-flex justify-content-between align-items-center">
        <div>
            <span class="badge bg-white text-secondary border">
                <span class="text-dark">{{total.usuarios}} usuário</span><br><br>
                Ativo: <span class="text-success">{{total.usuariosAtivo}}</span> |
                Inativo: <span class="text-danger">{{total.usuariosInativo}}</span>
            </span>

            <span class="badge bg-white text-secondary border">
                <span class="text-dark">{{total.admin}} admin:</span><br><br>
                Ativo: <span class="text-success">{{total.adminAtivo}}</span> |
                Inativo: <span class="text-danger">{{total.adminInativo}}</span>
            </span>
        </div>
        <a href="{{url('dashboard/usuarios/cadastrar')}}" class="btn btn-dark" tooltip="tooltip" title="Cadastrar Usuário">
            Cadastrar
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabelaUsuarios" class="table table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Level</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr> 
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.email}}</td>
                        <td>
                            {% if usuario.level == 3 %}
                            <span class="text-danger">Administrador</span>
                            {% else %}
                            <span class="text-secondary">Usuário</span>
                            {% endif %}
                        </td>

                        <td>
                            {% if usuario.status == 1 %}
                            <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativo"></i>
                            {% else %}
                            <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativo"></i>
                            {% endif %}
                        </td>
                        {% if usuario().level == 3 %}
                        <td>
                            
                            <a class="text-dark m-1" href="{{ url('dashboard/usuarios/editar/'~usuario.id)}}"
                                tooltip="tooltip" title="Editar"><i class="fa-solid fa-pen"></i></a>


                            <a class="text-dark" href="{{ url('dashboard/usuarios/deletar/'~usuario.id)}}"
                                tooltip="tooltip" title="Deletar"><i class="fa-solid fa-trash"></i>
                            </a>
                            
                        </td>
                        {% else %}
                        <td>--</td>
                        {% endif %}

                        

                        {% endfor %}
                    </tr>
                </tbody>

            </table>
        </div>


    </div>
</div>


<!-- MODAL DE EXCLUSÃO -->

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza de que deseja excluir este item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Excluir</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}